<%- include('header') -%>


<nav class="navbar navbar-light bg-light">
<div id="navBar"class="container-fluid">
<span class="navbar-brand mb-0 h1">Student Lists</span>
</div>
</nav>



<div class="container-fluid">
  <p class="empty">Empty</p>
</div>














  <%- include('footer') -%>
